#get-around {
  padding-top: 50px;
}

#tag-line {
  font-size: 15px;
  font-style: bold;
}

span {
  position:absolute;
  top: 65px;
}

.my-nav {
  padding-top: 40px;
  font-family: 'Raleway', sans-serif;
  padding-bottom: 100px;

}

.my-nav ul {
  list-style-type: none;
  display: inline;
  margin-left: 0px;
  padding-left: 0px;
}

.my-nav ul li {
  display: inline;
  margin-right: 20px;
  font-size: 11px;
  font-color: black;
}

.my-nav a {
  color:black;
}

.my-name {
/*float: right;*/
  font-size: 50px;
  text-transform: uppercase;
  margin-top: 0px;
  padding-bottom: 0px;
  font-family: 'Raleway', sans-serif;
}

.my-name p {
  border: none;
}

.jumbotron {
  position: relative;
  background-image:url(/Users/staceymaresco/Desktop/nile.jpg);
  background-size: cover;
  background-repeat: repeat;
  width: auto;
  border: 1px solid;
}


.jumbotron h2 {
  color: #fff;
  font-size: 48px;
  font-family:'Raleway', sans-serif;
  padding-top: 200px;
}

.my-experience {
  font-size: 15px;
  line-height: 21px; /* 3px + 15 px + 3px */
  font-family: 'Raleway', sans-serif;
  padding-left: 0px;

}

.my-photos img {
  display: block;
  width: 100%;
  padding-bottom: 30px;
}

.my-education {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  padding-left: 0px;
  padding-bottom: 10px;
}

.my-languages {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  padding-left: 0px;
  padding-bottom: 10px;

}

.my-service  {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  padding-left: 0px;
  padding-bottom: 10px;

}
