#get-around {
  padding-top: 50px;
}

.my-nav {
  /*margin-top: 55px;/*
  /*float: left;*/
  padding-top: 40px;
  font-family: 'Raleway', sans-serif;
  /*border: 1px solid;*/
}

.my-nav ul {
list-style-type: none;
display: inline;
}

.my-nav ul li {
  display: inline;
  margin-right: 20px;
  font-size: 13px;
  font-color: black;
}

.my-nav a {
  color:black;
}

.my-name {
/*float: right;*/
  font-size: 50px;
  text-transform: uppercase;
  margin-top: 0px;
  font-family: 'Raleway Dots', cursive;
  /*border: 1px solid;*/
}

.my-name p {
  border: none;
}

.row img {
  width: 100%;
}
