

.nav a {
  color:#5a5a5a;
  font-family: Helvetica;
  font-size: 12px;
  font-weight: bold;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 9px;
  padding-bottom: 9px;
  margin: 5px;
  text-transform: uppercase;
  border-right: 1px solid;
  border-left: 1px solid;
}

.nav li {
  display: inline;
}

.nav ul {
  display: inline;
}
